@keyframes loadbar {
    0%, to {
        left: 0;
        right: 80%;
    }

    25%, 75% {
        left: 0;
        right: 0;
    }

    50% {
        left: 80%;
        right: 0;
    }
}

.gg-loadbar,
.gg-loadbar::before {
    display: block;
    box-sizing: border-box;
    height: 4px;
}

.gg-loadbar {
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 18px;
}

    .gg-loadbar::before {
        content: "";
        position: absolute;
        border-radius: 4px;
        background: currentColor;
        animation: loadbar 2s cubic-bezier(0, 0, 0.58, 1) infinite;
    }
@keyframes loadbaralt {
    0%, to {
        left: 0;
        right: 80%;
    }

    25%, 75% {
        left: 0;
        right: 0;
    }

    50% {
        left: 80%;
        right: 0;
    }
}

.gg-loadbar-alt,
.gg-loadbar-alt::before,
.gg-loadbar-alt::after {
    display: block;
    box-sizing: border-box;
    height: 4px;
    border-radius: 4px;
}

.gg-loadbar-alt {
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 18px;
}

    .gg-loadbar-alt::after,
    .gg-loadbar-alt::before {
        background: currentColor;
        content: "";
        position: absolute;
    }

    .gg-loadbar-alt::before {
        animation: loadbaralt 2s cubic-bezier(0, 0, 0.58, 1) infinite;
    }

    .gg-loadbar-alt::after {
        width: 18px;
        opacity: 0.3;
    }
.gg-spinner {
    transform: scale(var(--ggs, 1));
}

    .gg-spinner,
    .gg-spinner::after,
    .gg-spinner::before {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
    }

        .gg-spinner::after,
        .gg-spinner::before {
            content: "";
            position: absolute;
            border-radius: 100px;
        }

        .gg-spinner::before {
            animation: spinner 1s cubic-bezier(0.6, 0, 0.4, 1) infinite;
            border: 3px solid transparent;
            border-top-color: currentColor;
        }

        .gg-spinner::after {
            border: 3px solid;
            opacity: 0.2;
        }

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
@keyframes gg-bar {
    10% {
        box-shadow: inset 0 -4px 0;
    }

    30% {
        box-shadow: inset 0 -10px 0;
    }

    60% {
        box-shadow: inset 0 -6px 0;
    }

    80% {
        box-shadow: inset 0 -8px 0;
    }

    to {
        box-shadow: inset 0 -2px 0;
    }
}

.gg-loadbar-sound,
.gg-loadbar-sound::after,
.gg-loadbar-sound::before {
    display: block;
    box-sizing: border-box;
    width: 2px;
    height: 12px;
    box-shadow: inset 0 -12px 0;
    animation: gg-bar 1.3s ease infinite alternate;
}

.gg-loadbar-sound {
    position: relative;
    transform: scale(var(--ggs, 1));
}

    .gg-loadbar-sound::after,
    .gg-loadbar-sound::before {
        content: "";
        position: absolute;
        bottom: 0;
    }

    .gg-loadbar-sound::before {
        left: -4px;
        animation-delay: -2.4s;
    }

    .gg-loadbar-sound::after {
        right: -4px;
        animation-delay: -3.7s;
    }
